:root {
  --primary-color: #34495e; /* Dark navy blue */
  --secondary-color: #ecf0f1; /* Light grey background */
  --accent-color: #3498db; /* Softer blue for CTAs */
  --background-color: #f9f9f9; /* Light body background */
  --font-color: #2c3e50; /* Darker text for readability */
  --font-family: "Poppins", sans-serif;
  --max-width: 1200px; /* Max content width */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha horizontalmente no centro */
  justify-content: flex-start; /* Alinha os itens no topo */
  min-height: 100vh;
  padding: 20px; /* Adiciona padding ao redor do corpo */
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center; /* Centraliza o texto do cabeçalho */
  padding: 20px 0; /* Adiciona padding vertical */
  width: 100%; /* Largura total */
}

header h1 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.12rem;
}

header h2 {
  color: var(--accent-color);
}

.language-selector {
  position: absolute;
  top: 20px; /* Melhor posicionamento */
  right: 30px;
}

select {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  padding: 8px; /* Adiciona padding para melhor área de toque */
  border-radius: 5px; /* Cantos arredondados */
  cursor: pointer; /* Indica que é clicável */
}

select:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

main {
  max-width: var(--max-width);
  margin: 40px auto; /* Margem automática para centralizar horizontalmente */
  padding: 40px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: #2980b9; /* Azul mais escuro para hover */
}

footer {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-top: 2px solid var(--primary-color);
  text-align: center; /* Centraliza o texto do rodapé */
  padding: 20px 0; /* Adiciona padding vertical */
  width: 100%; /* Largura total */
}

footer p {
  font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header h1 {
    font-size: 2.2rem;
  }

  header h2 {
    font-size: 1rem;
  }

  .language-selector {
    position: static; /* Posicionamento estático para telas menores */
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  main {
    padding: 20px;
    margin: 20px;
  }

  p {
    font-size: 1rem;
  }

  footer p {
    font-size: 0.8rem;
  }
}
